
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/Layout.cshtml";
}

<div class="container-fluid">
   <center><img src="~/Content/images/batman-nawpic.jpg" width="1300px" /></center>
    
</div>